<div class="w-screen">
  <h1 class="text-4xl font-medium mx-auto text-center mt-7">Weather App</h1>
  <div class="flex justify-center gap-2 mt-8">
    <input
    [(ngModel)]="city"
      class="border border-gray-500 py-1 px-2 w-64 rounded-md focus:outline-blue-400" placeholder="Search for location"
    />
    <button class="bg-blue-700 text-white px-4 rounded-md font-medium" (click)="searchWeather()">
      Search
    </button>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center mt-8 gap-4">
    
    <div class="weather-app w-96 h-48 flex flex-col justify-center items-center">
      <p *ngIf="weather" class="text-white text-2xl font-medium">{{weather.name}}</p>
      <p *ngIf="weather" class="text-white text-4xl font-medium">Temp: {{weather.main.temp}}°C</p>
    </div>
    <div class="bg-blue-500 w-96 h-48 flex flex-col justify-center items-center">
      <p *ngIf="weather" class="text-white text-2xl font-medium">Feels like: {{weather.main.feels_like}}°C</p>
      <p *ngIf="weather" class="text-white text-2xl font-medium">Humidity: {{weather.main.humidity}}%</p>
      <p *ngIf="weather" class="text-white text-2xl font-medium">Pressure: {{weather.main.pressure}}KPa</p>
      <p *ngIf="weather" class="text-white text-2xl font-medium">Desc: {{weather.weather[0].description}}</p>
      <p *ngIf="weather" class="text-white text-2xl font-medium">Speed: {{weather.wind.speed}}KM/H</p>

    </div>
  </div>
</div>
