<div class="w-screen">
  <h1 class="text-4xl font-medium mx-auto text-center mt-7">Weather App</h1>
  <div class="flex justify-center gap-2 mt-8">
    <input
      class="border border-gray-500 py-1 px-2 w-64 rounded-md focus:outline-blue-400" placeholder="Search for location"
    />
    <button class="bg-blue-700 text-white px-4 rounded-md font-medium">
      Search
    </button>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center mt-8 gap-4">
    <div class="weather-app w-96 h-44"></div>
    <div class="bg-blue-500 w-96 h-44"></div>
  </div>
</div>
